<div class="row">
    <div class="col-3">
        {{firstName()}}

    </div>
    <div class="col-3">
        {{lasttName()}}

    </div>
    <div class="col-3">
        {{fullName()}}

    </div>

</div>

<div class="row">
    <div class="col-6">
        <ul>
            @for(item of studentList(); track $index){
                <li>{{item.name}}</li>
            }
        </ul>

    </div>

     <div class="col-6">
        <ul>
            @for(item of activeStudentList(); track $index){
                <li>{{item.name}}</li>
            }
        </ul>

    </div>

</div>